<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiteyttäjä</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body style="font-family: Raleway; text-align: center;">
    <div id="wrapper">
        <h1>Kiteyttäjän tulokset</h1>

        <h3>Ilmoita tähän yrityksesi nimi</h3>
        <h4 for="company">Yrityksen nimi</h4>
        <span><%= crystal[:company] %></span>

        <h3>Gällit lähettävät koonnin pelisessiosta tähän osoitteeseen</h3>
        <h4 for="email">Sähköposti</h4>
        <span><%= crystal[:email] %></span>

        <h3>Pelilaudalle valikoituneet vihreiden kategorioiden kortit (pelkkä otsikko riittää)</h3>
        <h4 for="category-cards-green">Vihreät kortit</h4>
        <span><%= crystal[:category_cards_green] %></span>

        <h3>Pelilaudalle valikoituneet punaisten kategorioiden kortit (pelkkä otsikko riittää)</h3>
        <h4 for="category-cards-red">Punaiset kortit</h4>
        <span><%= crystal[:category_cards_red] %></span>

        <h3>Vihreä topaasia (pelkkä otsikko riittää)</h3>
        <h4 for="topaasia-green">Topaasia</h4>
        <span><%= crystal[:topaasia_green] %></span>
        <h4 for="improvement-green">Miten kehitämme seuraavaan pelisessioon mennessä</h4>
        <span><%= crystal[:improvement_green] %></span>
        <h4 for="lead-green">Vetovastuu</h4>
        <span><%= crystal[:lead_green] %></span>

        <h3>Punainen topaasia (pelkkä otsikko riittää)</h3>
        <h4 for="topaasia-red">Topaasia</h4>
        <span><%= crystal[:topaasia_red] %></span>
        <h4 for="improvement-red">Miten kehitämme seuraavaan pelisessioon mennessä</h4>
        <span><%= crystal[:improvement_red] %></span>
        <h4 for="lead-red">Vetovastuu</h4>
        <span><%= crystal[:lead_red] %></span>

        <h3>Viime pelisessiossa päätetyt kokeilut (ei täytetä ensimmäisessä pelisessiossa)</h3>
        <span><%= crystal[:last_used] %></span>

        <h3>Miten hyödyllinen pelisessio oli käytettyyn aikaan nähden (1-5)</h3>
        <span><%= crystal[:rating] %></span>
    </div>
    <hr/>
    <footer class="center">Gälliwashere 2015 &copy;</footer>
</body>
</html>
