<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiteyttäjä</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body style="font-family: Raleway; text-align: center;">
    <div id="wrapper">
        <h1>Kiteyttäjän tulokset</h1>

        <h3>Ilmoita tähän yrityksesi nimi</h3>
        <label for="company">Yrityksen nimi</label>
        <span><%= crystal[:company] %></span>

        <h3>Gällit lähettävät koonnin pelisessiosta tähän osoitteeseen</h3>
        <label for="email">Sähköposti</label>
        <span><%= crystal[:email] %></span>

        <h3>Pelilaudalle valikoituneet vihreiden kategorioiden kortit (pelkkä otsikko riittää)</h3>
        <label for="category-cards-green">Vihreät kortit</label>
        <span><%= crystal[:category_cards_green] %></span>

        <h3>Pelilaudalle valikoituneet punaisten kategorioiden kortit (pelkkä otsikko riittää)</h3>
        <label for="category-cards-red">Punaiset kortit</label>
        <span><%= crystal[:category_cards_red] %></span>

        <h3>Vihreä topaasia (pelkkä otsikko riittää)</h3>
        <label for="topaasia-green">Topaasia</label>
        <span><%= crystal[:topaasia_green] %></span>
        <label for="improvement-green">Miten kehitämme seuraavaan pelisessioon mennessä</label>
        <span><%= crystal[:improvement_green] %></span>
        <label for="lead-green">Vetovastuu</label>
        <span><%= crystal[:lead_green] %></span>

        <h3>Punainen topaasia (pelkkä otsikko riittää)</h3>
        <label for="topaasia-red">Topaasia</label>
        <span><%= crystal[:topaasia_red] %></span>
        <label for="improvement-red">Miten kehitämme seuraavaan pelisessioon mennessä</label>
        <span><%= crystal[:improvement_red] %></span>
        <label for="lead-red">Vetovastuu</label>
        <span><%= crystal[:lead_red] %></span>

        <h3>Viime pelisessiossa päätetyt kokeilut (ei täytetä ensimmäisessä pelisessiossa)</h3>
        <span><%= crystal[:last_used] %></span>

        <h3>Miten hyödyllinen pelisessio oli käytettyyn aikaan nähden (1-5)</h3>
        <span><%= crystal[:rating] %></span>
    </div>
    <div style="font-size: 200%; margin: 1em 0;">&#1757;</div>
    <footer class="center">Gälliwashere 2015 &copy;</footer>
</body>
</html>
